<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Savings</title>
</head>
<body>

<title>Client Savings List</title>
</head>
<body>
<div id="title" align=" center"><p><strong><label>CLIENT SAVINGS LIST</label></strong></div>
<div id="table" align="centre">
<table align="centre" cellpadding="2" cellspacing="2" border="1">
<thead>List of Member Savings Information</thead>
<tbody>
<tr>
<th>Member Id</th>
<th>Member's Name</th>
<th>Transaction type</th>
<th>Client Savings ID</th>
<th>Amount Deposited</th>
<th>Amount Withdrawn</th>
<th>Date of Transaction</th>
<th>Total Account Balance</th>
<th>Delete / Update</th>
</tr>

<tr>
<td>23</td>
<td>Kasajja Paul</td>
<td>withdraw</td>
<td>d34jd</td>
<td>5783990</td>
<td>384784</td>
<td>18/sept/2015</td>
<td>283746</td>
<td><a href="editSavingsItem">Edit</a>|
<a href="deleteSavingsItem">Delete</a>
</td>
</tr>

</tbody>

</table>
<h3>
            <a href="clientSavingsLink">Go to Client Savings Form</a>
        </h3>
</body>
</html>