<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/org.saccosoft/WebContent/WEB-INF/css/theme.css"/>

<title>Sacco-Soft</title>
</head>
<body>
<div align="center">
<img src="/org.saccosoft/WebContent/WEB-INF/images/tools.png" alt="Sacco Soft" 
width="100"
	 height="50"/><p>
	 
<form action="securityDetails" method="post" modelAttribute="AdminLogin">
<fieldset><legend>SACCO-SOFT ADMIN LOGIN </legend>
<p>
Please Enter User Name and Password to Open Application
</p>
<table>
<tr><td>User  Name</td><td><input type="text" name="name" required="required"></td></tr>
<tr><td>Password</td><td><input type="password" name="password" required="required"></td></tr>


</table>
<input type="submit" name="action" value="Submit">
</fieldset>
<form>
</div>

</body>
</html>