<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Loan List</title>
</head>
<body>
<div id="title" align=" center"><p><strong><label>LOAN LIST</label></strong></div>
<div id="table" align="centre">
<table align="centre" cellpadding="2" cellspacing="2" border="1">
<thead>List of Member Loan Information</thead>
<tbody>
<tr>
<th>Member Id</th>
<th>Borrower's Name</th>
<th>Amount Borrowed</th>
<th>Interest rate %</th>
<th>Repayment Date</th>
<th>Value of loan In Ariers</th>
<th>Current Date</th>
</tr>

<tr>
<td>23</td>
<td>Kasajja Paul</td>
<td>500000</td>
<td>3</td>
<td>23/aug/2014</td>
<td>230000</td>
<td>18/sept/2015</td>
</tr>

</tbody>

</table>
<h3>
            <a href="saveClientloanLink">Register New Borrower</a>
        </h3>


</div>
</body>
</html>